<%= provide(:title, "Edit User") %>

<div class="hide-on-small-and-down" style="padding-top: 32px">
</div>
<div class="row">
  <div class="z-depth-2 white col s12 m8 offset-m2 l4 offset-l4" style="position: relative">
    <div class="center">
      <h2>Update Profile</h2>
    </div>
    <% if @user.needs_to_update_account %>
      <div class="row">
        <p class="col s12 m10 offset-m1">
          This account was automatically created for you by someone who invited you to their organization.
          <br>
          <br>
          Please verify your account is set up correctly and <b>set a new password</b> by typing one in and hitting <b>Save
          Changes.</b>
        </p>
      </div>
    <% end %>
    <div class="row" style="padding-bottom: 16px">
      <div class="col s12 m8 offset-m2">
        <%= form_for @user do |f| %>

          <div class="input-field">
            <%= f.text_field :name %>
            <%= f.label :name %>
          </div>

          <div class="input-field">
            <%= f.text_field :email %>
            <%= f.label :email %>
          </div>

          <div class="input-field">
            <%= f.password_field :password %>
            <%= f.label :password %>
          </div>

          <div class="input-field">
            <%= f.password_field :password_confirmation %>
            <%= f.label :password_confirmation, "Password Confirmation" %>
          </div>

          <div class="input-field">
            <%= f.text_field :user_image_link, placeholder: "https://placekitten.com/g/200/200" %>
            <%= f.label :user_image_link, "Link for Profile Image" %>
          </div>

          <br>

          <%= f.submit "Save Changes", class: "btn theia_blue", style: "margin-top: 16px;" %>
        <% end %>
      </div>
    </div>
    <div class="card white darken-1 hide-on-small-and-down" style="width: 200px; position: absolute; top: 25%; right: -100px;">
      <%= render 'shared/error_messages_user' %>
    </div>
  </div>
</div>