<%= provide(:title, @user.name) %>
<div class="" style="padding-top: 32px"></div>
<% if has_company_access? %>
  <% if @owned_organization %>
    <div class="row">
      <div class="z-depth-2 white col s12 m8 offset-m2 l6 offset-l3">
        <ul class="collection with-header">
            <li class="collection-header">
              <div class="row" style="margin-bottom: 0">
                <div class="col s6">
                  <h5>Time Card Weeks</h5>
                </div>
              </div>
            </li>
          <% @unique_dates.each_with_index do |date, index|%>
            <li class="collection-item">
              <div class="row" style="margin: 0">
                <div class="col s1">
                  <h6><%= date.strftime("%m/%d") %></h6>
                </div>
                <div class="col s11 hide-on-med-and-up">
                  <span class="secondary-content theia_text_blue" style="margin-top: 8px"><%= link_to "View Week", organization_view_week_path(organization_id: @owned_organization, end_date: date) %></span>
                </div>
                <div class="col s12 m8 center">
                  <% if index == 0 %>
                    <a id="notify_btn_tt" class="btn-small theia_blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sends email to user saying timecards are due" data-organization_id="<%= @owned_organization.id %>">
                      <i class="material-icons right">notifications_active</i>
                      Notify
                    </a>
                    <a id="collect_btn_tt" class="btn-small theia_blue waves-effect waves-light tooltipped" data-target="collect_hours_modal" data-position="bottom" data-delay="50" data-tooltip="Collects current timecards and issues out new ones">
                      <i class="material-icons right">collections</i>
                      Collect
                    </a>
                    <div id="manager_action_progress" class="progress hiddendiv">
                      <div class="indeterminate"></div>
                    </div>
                  <% end %>
                </div>
                <div class="col s3 hide-on-small-and-down">
                  <span class="secondary-content theia_text_blue" style="margin-top: 8px"><%= link_to "View Week", organization_view_week_path(organization_id: @owned_organization, end_date: date) %></span>
                </div>
              </div>
              <div class="row weekly-stats" style="margin-bottom: 0">
                <div class="col s12 m2">
                  <h6>Week Stats:</h6>
                </div>
                <div class="col s12 m3">
                  <h6>Week Hours: <span id="<%= index %>_total_week_hours"></span></h6>
                </div>
                <div class="col s12 m3">
                  <h6>Overtime Hours: <span id="<%= index %>_total_week_overtime"></span></h6>
                </div>
                <div class="col s12 m3">
                  <h6>Sick Hours: <span id="<%= index %>_total_week_sick"></span></h6>
                </div>
              </div>
            </li>
            <script>
                $(function(){
                  $.ajax({
                      url: "/organizations/<%= @owned_organization.id %>/get_week_stats",
                      type: "GET",
                      data: {
                          end_date: "<%= date %>"
                      },
                      success: function(json){
                          $("#<%= index %>_total_week_hours").html(json["total_week_hours"]);
                          $("#<%= index %>_total_week_overtime").html(json["total_week_overtime"]);
                          $("#<%= index %>_total_week_sick").html(json["total_week_sick"]);
                      }
                  });
                });
            </script>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
  <div class="row">
    <div class="z-depth-2 white col s12 m8 offset-m2 l6 offset-l3 animated fadeInUp">
      <h4 class="center" style="margin: 1rem 0 1rem 0">Welcome to Timecard Buddy!</h4>
      <p class="flow-text">Thank you for signing up with timecard buddy. Please create your own organization here: </p>
      <%=	 link_to "New Organization", new_organization_path, class: "btn-large theia_blue right", style: "margin-bottom: 16px"  %>
    </div>
  <% end %>

  <% if @owned_organization and @owned_organization.employees.count == 0 %>
    <div class="tap-target" data-target="add_new_users_fd">
      <div class="tap-target-content">
        <h5>Add Users</h5>
        <p>To get started:<br> click on Manage to add some users</p>
      </div>
    </div>
  </div>

  <script>
    var add_user_fd_options = {};
    var add_user_fd = document.querySelector('.tap-target');
    var add_user_fd_instance = M.FeatureDiscovery.init(add_user_fd, add_user_fd_options);
    $(document).ready(function(){
        add_user_fd_instance.open();

        $(document).click(function(){
            add_user_fd_instance.close();
        });
    });
  </script>
  <% elsif @owned_organization and @owned_organization.employees.count >= 1 %>
    <div id="collect_hours_modal" class="modal">
      <div class="modal-content">
        <h4>Collecting time for week ending on: <span id="ending_date"><%= @owned_organization.employees.first.user.timecards.last.end_date.strftime("%m/%d") %></span></h4>
        <p>Are you sure you want to collect the hours for this week?</p>
      </div>
      <div class="modal-footer">
        <button id="accept_and_collect" class="modal-close waves-effect waves-green btn-flat" data-organization_id="<%= @owned_organization.id %>">Collect Timecards</button>
      </div>
    </div>
  <% end %>
<% elsif is_company_user? %>

  <%= render 'shared/user_timecard'%>

<% end %>
