<%= provide(:title, @user.name) %>

<style>
  .animate_theia_text_blue{
    color: #3A96D1 !important;
    transition: color 300ms;
  }
</style>

<div class="" style="padding-top: 32px"></div>
<% if has_company_access? %>
<div class="row">
  <div class="z-depth-2 white col s12 m3 offset-m1">
    <div class="row">
      <div class="col s12">
        <%= image_tag("icon_only_100.png", alt: @user.name, class:"circle left", style: "margin: 0.75rem 0.75rem 0 0")%>
        <h5 style="margin-bottom: 0"><%= @user.name %></h5>
      </div>
    </div>
    <div class="center">
      <%=	 link_to "New Organization", new_organization_path, class: "btn theia_blue", style: "margin-bottom: 16px;"  %>
    </div>
  </div>
  <div class="col s12 m6 offset-m1">
    <% @owned_organizations.each do |org| %>
      <div class="row">
        <div class="col s7 offset-s1">
          <h4><%= org.name %></h4>
        </div>
        <div class="col s4 center" style="margin-top: 24px">
          <%= link_to "Manage", org, class: "btn-small theia_blue"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% elsif is_company_user? %>
<div class="row">
  <div class="z-depth-2 white col s12 m8 offset-m2 l6 offset-l3" style="position: relative">
    <div class="row">
      <div class="col s6">
        <h5>Timecard</h5>
        <p><%= @user.name %></p>
      </div>
      <div class="col s6 right">
        <p class="right">Due at: <%= @user.timecards.last.end_date.strftime("%m/%d %I:%M %p") %></p>
      </div>
    </div>
    <div class="divider"></div>
    <table class="striped centered">
      <thead>
      <tr>
        <th>Day</th>
        <th>Starting Time</th>
        <th>Ending Time</th>
        <th>Break Duration</th>
      </tr>
      </thead>
      <tbody id="timecard_table">
      <tr id="sat_row">
        <td>Saturday <%= @timecard.sat_start.strftime("%m/%d") %></td>
        <td>
          <input id="sat_start_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.sat_start_is_set)? @timecard.sat_start.strftime("%I"): "" %>">
          :
          <input id="sat_start_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.sat_start_is_set)? @timecard.sat_start.strftime("%M"): "" %>">
          <div id="sat_start_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.sat_start_is_set and @timecard.sat_start.strftime("%I").to_i > 8 and @timecard.sat_start.strftime("I").to_i < 12)? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.sat_start_is_set and @timecard.sat_start.strftime("%I").to_i < 8 or  @timecard.sat_start.strftime("I").to_i > 12)? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="sat_end_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.sat_end_is_set)? @timecard.sat_end.strftime("%I"): "" %>">
          :
          <input id="sat_end_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.sat_end_is_set)? @timecard.sat_end.strftime("%M"): "" %>">
          <div id="sat_end_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.sat_end_is_set and @timecard.sat_end.strftime("%I").to_i > 8 and @timecard.sat_end.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.sat_end_is_set and @timecard.sat_end.strftime("%I").to_i < 8 or @timecard.sat_end.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="sat_break_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.sat_break_hours_is_set)? @timecard.sat_break_hours : "" %>">
          h
          <input id="sat_break_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.sat_break_hours_is_set)? @timecard.sat_break_minutes : "" %>">
          m
        </td>
      </tr>
      <tr id="sun_row">
        <td>Sunday <%= @timecard.sun_start.strftime("%m/%d") %></td>
        <td>
          <input id="sun_start_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.sun_start_is_set) ? @timecard.sun_start.strftime("%I") : "" %>">
          :
          <input id="sun_start_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.sun_start_is_set) ? @timecard.sun_start.strftime("%M") : "" %>">
          <div id="sun_start_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.sun_start_is_set and @timecard.sun_start.strftime("%I").to_i > 8 and @timecard.sun_start.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.sun_start_is_set and @timecard.sun_start.strftime("%I").to_i < 8 or @timecard.sun_start.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="sun_end_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.sun_end_is_set) ? @timecard.sun_end.strftime("%I") : "" %>">
          :
          <input id="sun_end_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.sun_end_is_set) ? @timecard.sun_end.strftime("%M") : "" %>">
          <div id="sun_end_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.sun_end_is_set and @timecard.sun_end.strftime("%I").to_i > 8 and @timecard.sun_end.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.sun_end_is_set and @timecard.sun_end.strftime("%I").to_i < 8 or @timecard.sun_end.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="sun_break_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.sun_break_hours_is_set) ? @timecard.sun_break_hours : "" %>">
          h
          <input id="sun_break_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.sun_break_hours_is_set) ? @timecard.sun_break_minutes : "" %>">
          m
        </td>
      </tr>
      <tr id="mon_row">
        <td>Monday <%= @timecard.mon_start.strftime("%m/%d") %></td>
        <td>
          <input id="mon_start_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.mon_start_is_set) ? @timecard.mon_start.strftime("%I") : "" %>">
          :
          <input id="mon_start_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.mon_start_is_set) ? @timecard.mon_start.strftime("%M") : "" %>">
          <div id="mon_start_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.mon_start_is_set and @timecard.mon_start.strftime("%I").to_i > 8 and @timecard.mon_start.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.mon_start_is_set and @timecard.mon_start.strftime("%I").to_i < 8 or @timecard.mon_start.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="mon_end_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.mon_end_is_set) ? @timecard.mon_end.strftime("%I") : "" %>">
          :
          <input id="mon_end_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.mon_end_is_set) ? @timecard.mon_end.strftime("%M") : "" %>">
          <div id="mon_end_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.mon_end_is_set and @timecard.mon_end.strftime("%I").to_i > 8 and @timecard.mon_end.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.mon_end_is_set and @timecard.mon_end.strftime("%I").to_i < 8 or @timecard.mon_end.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="mon_break_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.mon_break_hours_is_set) ? @timecard.mon_break_hours : "" %>">
          h
          <input id="mon_break_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.mon_break_hours_is_set) ? @timecard.mon_break_minutes : "" %>">
          m
        </td>
      </tr>
      <tr id="tue_row">
        <td>Tuesday <%= @timecard.tue_start.strftime("%m/%d") %></td>
        <td>
          <input id="tue_start_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.tue_start_is_set) ? @timecard.tue_start.strftime("%I") : "" %>">
          :
          <input id="tue_start_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.tue_start_is_set) ? @timecard.tue_start.strftime("%M") : "" %>">
          <div id="tue_start_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.tue_start_is_set and @timecard.tue_start.strftime("%I").to_i > 8 and @timecard.tue_start.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.tue_start_is_set and @timecard.tue_start.strftime("%I").to_i < 8 or @timecard.tue_start.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="tue_end_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.tue_end_is_set) ? @timecard.tue_end.strftime("%I") : "" %>">
          :
          <input id="tue_end_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.tue_end_is_set) ? @timecard.tue_end.strftime("%M") : "" %>">
          <div id="tue_end_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.tue_end_is_set and @timecard.tue_end.strftime("%I").to_i > 8 and @timecard.tue_end.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.tue_end_is_set and @timecard.tue_end.strftime("%I").to_i < 8 or @timecard.tue_end.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="tue_break_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.tue_break_hours_is_set) ? @timecard.tue_break_hours : "" %>">
          h
          <input id="tue_break_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.tue_break_hours_is_set) ? @timecard.tue_break_minutes : "" %>">
          m
        </td>
      </tr>
      <tr id="wed_row">
        <td>Wednesday <%= @timecard.wed_start.strftime("%m/%d") %></td>
        <td>
          <input id="wed_start_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.wed_start_is_set) ? @timecard.wed_start.strftime("%I") : "" %>">
          :
          <input id="wed_start_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.wed_start_is_set) ? @timecard.wed_start.strftime("%M") : "" %>">
          <div id="wed_start_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.wed_start_is_set and @timecard.wed_start.strftime("%I").to_i > 8 and @timecard.wed_start.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.wed_start_is_set and @timecard.wed_start.strftime("%I").to_i < 8 or @timecard.wed_start.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="wed_end_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.wed_end_is_set) ? @timecard.wed_end.strftime("%I") : "" %>">
          :
          <input id="wed_end_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.wed_end_is_set) ? @timecard.wed_end.strftime("%M") : "" %>">
          <div id="wed_end_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.wed_end_is_set and @timecard.wed_end.strftime("%I").to_i > 8 and @timecard.wed_end.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.wed_end_is_set and @timecard.wed_end.strftime("%I").to_i < 8 or @timecard.wed_end.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="wed_break_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.wed_break_hours_is_set) ? @timecard.wed_break_hours : "" %>">
          h
          <input id="wed_break_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.wed_break_hours_is_set) ? @timecard.wed_break_minutes : "" %>">
          m
        </td>
      </tr>
      <tr id="thu_row">
        <td>Thursday <%= @timecard.thu_start.strftime("%m/%d") %></td>
        <td>
          <input id="thu_start_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.thu_start_is_set) ? @timecard.thu_start.strftime("%I") : "" %>">
          :
          <input id="thu_start_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.thu_start_is_set) ? @timecard.thu_start.strftime("%M") : "" %>">
          <div id="thu_start_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.thu_start_is_set and @timecard.thu_start.strftime("%I").to_i > 8 and @timecard.thu_start.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.thu_start_is_set and @timecard.thu_start.strftime("%I").to_i < 8 or @timecard.thu_start.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="thu_end_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.thu_end_is_set) ? @timecard.thu_end.strftime("%I") : "" %>">
          :
          <input id="thu_end_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.thu_end_is_set) ? @timecard.thu_end.strftime("%M") : "" %>">
          <div id="thu_end_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.thu_end_is_set and @timecard.thu_end.strftime("%I").to_i > 8 and @timecard.thu_end.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.thu_end_is_set and @timecard.thu_end.strftime("%I").to_i < 8 or @timecard.thu_end.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="thu_break_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.thu_break_hours_is_set) ? @timecard.thu_break_hours : "" %>">
          h
          <input id="thu_break_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.thu_break_hours_is_set) ? @timecard.thu_break_minutes : "" %>">
          m
        </td>
      </tr>
      <tr id="fri_row">
        <td>Friday <%= @timecard.fri_start.strftime("%m/%d") %></td>
        <td>
          <input id="fri_start_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.fri_start_is_set) ? @timecard.fri_start.strftime("%I") : "" %>">
          :
          <input id="fri_start_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.fri_start_is_set) ? @timecard.fri_start.strftime("%M") : "" %>">
          <div id="fri_start_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.fri_start_is_set and @timecard.fri_start.strftime("%I").to_i > 8 and @timecard.fri_start.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.fri_start_is_set and @timecard.fri_start.strftime("%I").to_i < 8 or @timecard.fri_start.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="fri_end_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.fri_end_is_set) ? @timecard.fri_end.strftime("%I") : "" %>">
          :
          <input id="fri_end_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.fri_end_is_set) ? @timecard.fri_end.strftime("%M") : "" %>">
          <div id="fri_end_am_pm" class="timepicker-span-am-pm" style="display:inline-block; position: relative; top: 8px">
            <div class="am-btn <%= (@timecard.fri_end_is_set and @timecard.fri_end.strftime("%I").to_i > 8 and @timecard.fri_end.strftime("I").to_i < 12) ? "animate_theia_text_blue" : "" %>">AM</div>
            <div class="pm-btn <%= (@timecard.fri_end_is_set and @timecard.fri_end.strftime("%I").to_i < 8 or @timecard.fri_end.strftime("I").to_i > 12) ? "animate_theia_text_blue" : "" %>">PM</div>
          </div>
        </td>
        <td>
          <input id="fri_break_hour" type="text" style="width: 20px" class="validate" pattern="[0-1]{1}[0-9]{1}" value="<%= (@timecard.fri_break_hours_is_set) ? @timecard.fri_break_hours : "" %>">
          h
          <input id="fri_break_minute" type="text" style="width: 20px" class="validate" pattern="[0-5]{1}[0-9]{1}" value="<%= (@timecard.fri_break_hours_is_set) ? @timecard.fri_break_minutes : "" %>">
          m
        </td>
      </tr>
      </tbody>
    </table>
    <div class="divider" style="margin: 16px 0 16px 0"></div>
    <div class="row">
      <div class="col s4">
        <h5 id="total_hours">Total Hours: <%= @timecard.total_hours %> </h5>
      </div>
    </div>
  </div>
</div>

  <script>

      function zero_pad(n, width, z) {
          z = z || '0';
          n = n + '';
          return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
      }

      function toggle_am_pm(elem) {
          $(elem).addClass("animate_theia_text_blue");
          $(elem).siblings().removeClass("animate_theia_text_blue");
      }

      $("#timecard_table input").focusout(function(){
          this.value = zero_pad(this.value, 2);
      });

      $("#timecard_table input[id*='hour']").focusout(function(){
          if (parseInt(this.value) > 8 && parseInt(this.value) < 12) {
              toggle_am_pm($(this).siblings("div[id*='am_pm']").children(".am-btn"));
          } else {
              toggle_am_pm($(this).siblings("div[id*='am_pm']").children(".pm-btn"));
          }
      });

      $("#timecard_table input").focusout(function () {
          // language=JQuery-CSS
          var n = $('.invalid').length;

          if (n > 0) {
              console.log(n, "Errors");
              console.log($('.invalid'));
              return;
          }

          var data = {
              timecard: {
                  sat_start: ($('#sat_start_hour').val() == "" || $('#sat_start_minute').val() == "") ? "" : "<%= @timecard.sat_start.strftime("%Y-%m-%d") %> " + (($("#sat_start_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#sat_start_hour').val()) != 12) ? parseInt($('#sat_start_hour').val()) + 12 : ($("#sat_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#sat_start_hour').val()) == 12) ? parseInt($('#sat_start_hour').val()) - 12 : $('#sat_start_hour').val()) + ":" + $('#sat_start_minute').val() + ":00",
                  sat_end: ($('#sat_end_hour').val() == "" || $('#sat_end_minute').val() == "") ? "" : "<%= @timecard.sat_end.strftime("%Y-%m-%d") %> " + (($("#sat_end_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#sat_end_hour').val()) != 12) ? parseInt($('#sat_end_hour').val()) + 12 : ($("#sat_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#sat_end_hour').val()) == 12) ? parseInt($('#sat_end_hour').val()) - 12 : $('#sat_end_hour').val()) + ":" + $('#sat_end_minute').val() + ":00",
                  sat_break_hours: $('#sat_break_hour').val(),
                  sat_break_minutes: $('#sat_break_minute').val(),
                  sun_start: ($('#sun_start_hour').val() == "" || $('#sun_start_minute').val() == "") ? "" : "<%= @timecard.sun_start.strftime("%Y-%m-%d") %> " + (($("#sun_start_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#sun_start_hour').val()) != 12) ? parseInt($('#sun_start_hour').val()) + 12 : ($("#sun_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#sun_start_hour').val()) == 12) ? parseInt($('#sun_start_hour').val()) - 12 : $('#sun_start_hour').val()) + ":" + $('#sun_start_minute').val() + ":00",
                  sun_end: ($('#sun_end_hour').val() == "" || $('#sun_end_minute').val() == "") ? "" : "<%= @timecard.sun_end.strftime("%Y-%m-%d") %> " + (($("#sun_end_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#sun_end_hour').val()) != 12) ? parseInt($('#sun_end_hour').val()) + 12 : ($("#sun_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#sun_end_hour').val()) == 12) ? parseInt($('#sun_end_hour').val()) - 12 : $('#sun_end_hour').val()) + ":" + $('#sun_end_minute').val() + ":00",
                  sun_break_hours: $('#sun_break_hour').val(),
                  sun_break_minutes: $('#sun_break_minute').val(),
                  mon_start: ($('#mon_start_hour').val() == "" || $('#mon_start_minute').val() == "") ? "" : "<%= @timecard.mon_start.strftime("%Y-%m-%d") %> " + (($("#mon_start_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#mon_start_hour').val()) != 12) ? parseInt($('#mon_start_hour').val()) + 12 : ($("#mon_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#mon_start_hour').val()) == 12) ? parseInt($('#mon_start_hour').val()) - 12 : $('#mon_start_hour').val()) + ":" + $('#mon_start_minute').val() + ":00",
                  mon_end: ($('#mon_end_hour').val() == "" || $('#mon_end_minute').val() == "") ? "" : "<%= @timecard.mon_end.strftime("%Y-%m-%d") %> " + (($("#mon_end_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#mon_end_hour').val()) != 12) ? parseInt($('#mon_end_hour').val()) + 12 : ($("#mon_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#mon_end_hour').val()) == 12) ? parseInt($('#mon_end_hour').val()) - 12 : $('#mon_end_hour').val()) + ":" + $('#mon_end_minute').val() + ":00",
                  mon_break_hours: $('#mon_break_hour').val(),
                  mon_break_minutes: $('#mon_break_minute').val(),
                  tue_start: ($('#tue_start_hour').val() == "" || $('#tue_start_minute').val() == "") ? "" : "<%= @timecard.tue_start.strftime("%Y-%m-%d") %> " + (($("#tue_start_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#tue_start_hour').val()) != 12) ? parseInt($('#tue_start_hour').val()) + 12 : ($("#tue_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#tue_start_hour').val()) == 12) ? parseInt($('#tue_start_hour').val()) - 12 : $('#tue_start_hour').val()) + ":" + $('#mon_start_minute').val() + ":00",
                  tue_end: ($('#tue_end_hour').val() == "" || $('#tue_end_minute').val() == "") ? "" : "<%= @timecard.tue_end.strftime("%Y-%m-%d") %> " + (($("#tue_end_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#tue_end_hour').val()) != 12) ? parseInt($('#tue_end_hour').val()) + 12 : ($("#tue_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#tue_end_hour').val()) == 12) ? parseInt($('#tue_end_hour').val()) - 12 : $('#tue_end_hour').val()) + ":" + $('#tue_end_minute').val() + ":00",
                  tue_break_hours: $('#tue_break_hour').val(),
                  tue_break_minutes: $('#tue_break_minute').val(),
                  wed_start: ($('#wed_start_hour').val() == "" || $('#wed_start_minute').val() == "") ? "" : "<%= @timecard.wed_start.strftime("%Y-%m-%d") %> " + (($("#wed_start_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#wed_start_hour').val()) != 12) ? parseInt($('#wed_start_hour').val()) + 12 : ($("#wed_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#wed_start_hour').val()) == 12) ? parseInt($('#wed_start_hour').val()) - 12 : $('#wed_start_hour').val()) + ":" + $('#wed_start_minute').val() + ":00",
                  wed_end: ($('#wed_end_hour').val() == "" || $('#wed_end_minute').val() == "") ? "" : "<%= @timecard.wed_end.strftime("%Y-%m-%d") %> " + (($("#wed_end_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#wed_end_hour').val()) != 12) ? parseInt($('#wed_end_hour').val()) + 12 : ($("#wed_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#wed_end_hour').val()) == 12) ? parseInt($('#wed_end_hour').val()) - 12 : $('#wed_end_hour').val()) + ":" + $('#wed_end_minute').val() + ":00",
                  wed_break_hours: $('#wed_break_hour').val(),
                  wed_break_minutes: $('#wed_break_minute').val(),
                  thu_start: ($('#thu_start_hour').val() == "" || $('#thu_start_minute').val() == "") ? "" : "<%= @timecard.thu_start.strftime("%Y-%m-%d") %> " + (($("#thu_start_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#thu_start_hour').val()) != 12) ? parseInt($('#thu_start_hour').val()) + 12 : ($("#thu_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#thu_start_hour').val()) == 12) ? parseInt($('#thu_start_hour').val()) - 12 : $('#thu_start_hour').val()) + ":" + $('#thu_start_minute').val() + ":00",
                  thu_end: ($('#thu_end_hour').val() == "" || $('#thu_end_minute').val() == "") ? "" : "<%= @timecard.thu_end.strftime("%Y-%m-%d") %> " + (($("#thu_end_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#thu_end_hour').val()) != 12) ? parseInt($('#thu_end_hour').val()) + 12 : ($("#thu_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#thu_end_hour').val()) == 12) ? parseInt($('#thu_end_hour').val()) - 12 : $('#thu_end_hour').val()) + ":" + $('#thu_end_minute').val() + ":00",
                  thu_break_hours: $('#thu_break_hour').val(),
                  thu_break_minutes: $('#thu_break_minute').val(),
                  fri_start: ($('#fri_start_hour').val() == "" || $('#fri_start_minute').val() == "") ? "" : "<%= @timecard.fri_start.strftime("%Y-%m-%d") %> " + (($("#fri_start_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#fri_start_hour').val()) != 12) ? parseInt($('#fri_start_hour').val()) + 12 : ($("#fri_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#fri_start_hour').val()) == 12) ? parseInt($('#fri_start_hour').val()) - 12 : $('#fri_start_hour').val()) + ":" + $('#fri_start_minute').val() + ":00",
                  fri_end: ($('#fri_end_hour').val() == "" || $('#fri_end_minute').val() == "") ? "" : "<%= @timecard.fri_end.strftime("%Y-%m-%d") %> " + (($("#fri_end_am_pm .pm-btn.animate_theia_text_blue").length && parseInt($('#fri_end_hour').val()) != 12) ? parseInt($('#fri_end_hour').val()) + 12 : ($("#fri_start_am_pm .am-btn.animate_theia_text_blue").length && parseInt($('#fri_end_hour').val()) == 12) ? parseInt($('#fri_end_hour').val()) - 12 : $('#fri_end_hour').val()) + ":" + $('#fri_end_minute').val() + ":00",
                  fri_break_hours: $('#fri_break_hour').val(),
                  fri_break_minutes: $('#fri_break_minute').val(),
              }
          };

          $.ajax({
              type: 'PUT'
              , url: '<%= timecard_path(@timecard) %>'
              , data: data
              , success: function (json) {
                  console.log("Updated timecard");
                  $("#total_hours").html("Total Hours: " + json["total_hours"])
              }
              , error: function (XMLHttpRequest, textStatus, errorThrown) {
                  console.log('Upload error: ' + XMLHttpRequest.responseText);
              }
          });
      });

      $(".am-btn").click(function(){
          toggle_am_pm($(this));
      });

      $(".pm-btn").click(function(){
          toggle_am_pm($(this));
      });
  </script>

<% end %>
