<%= provide(:title, @user.name) %>

<div class="" style="padding-top: 32px"></div>


<div class="row">
  <div class="z-depth-2 white col s12 m10 offset-m1 l8 offset-l2" style="position: relative">
    <div class="row">
      <div class="col s6">
        <h5>Time Card</h5>
        <p><%= @user.name %></p>
      </div>
      <div class="col s6 right">
        <p class="right">Due at: <%= @timecard.end_date.strftime("%m/%d %I:%M %p") %></p>
      </div>
    </div>
    <div class="divider" style="margin-bottom: 16px"></div>
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Break Hours</th>
        <th>Hours Worked</th>
        <th>Overtime</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= @timecard.sat_start.strftime("%A") %><p class="right" style="margin: 0"><%= @timecard.sat_start.strftime("%m/%d")  %></p></td>
        <td><%= @timecard.sat_start.strftime("%I:%M %p") %></td>
        <td><%= @timecard.sat_end.strftime("%I:%M %p") %></td>
        <td><%= @timecard.sat_break_hours + (@timecard.sat_break_minutes / 60.0).round(2) %></td>
        <td><%= @timecard.sat_hours %></td>
        <td><%= @timecard.sat_overtime %></td>
      </tr>
      <tr>
        <td><%= @timecard.sun_start.strftime("%A") %><p class="right" style="margin: 0"><%= @timecard.sun_start.strftime("%m/%d") %></p></td>
        <td><%= @timecard.sun_start.strftime("%I:%M %p") %></td>
        <td><%= @timecard.sun_end.strftime("%I:%M %p") %></td>
        <td><%= @timecard.sun_break_hours + (@timecard.sun_break_minutes / 60.0).round(2) %></td>
        <td><%= @timecard.sun_hours %></td>
        <td><%= @timecard.sun_overtime %></td>
      </tr>
      <tr>
        <td><%= @timecard.mon_start.strftime("%A") %><p class="right" style="margin: 0"><%= @timecard.mon_start.strftime("%m/%d") %></p></td>
        <td><%= @timecard.mon_start.strftime("%I:%M %p") %></td>
        <td><%= @timecard.mon_end.strftime("%I:%M %p") %></td>
        <td><%= @timecard.mon_break_hours + (@timecard.mon_break_minutes / 60.0).round(2) %></td>
        <td><%= @timecard.mon_hours %></td>
        <td><%= @timecard.mon_overtime %></td>
      </tr>
      <tr>
        <td><%= @timecard.tue_start.strftime("%A") %><p class="right" style="margin: 0"><%= @timecard.tue_start.strftime("%m/%d") %></p></td>
        <td><%= @timecard.tue_start.strftime("%I:%M %p") %></td>
        <td><%= @timecard.tue_end.strftime("%I:%M %p") %></td>
        <td><%= @timecard.tue_break_hours + (@timecard.tue_break_minutes / 60.0).round(2) %></td>
        <td><%= @timecard.tue_hours %></td>
        <td><%= @timecard.tue_overtime %></td>
      </tr>
      <tr>
        <td><%= @timecard.wed_start.strftime("%A") %><p class="right" style="margin: 0"><%= @timecard.wed_start.strftime("%m/%d") %></p></td>
        <td><%= @timecard.wed_start.strftime("%I:%M %p") %></td>
        <td><%= @timecard.wed_end.strftime("%I:%M %p") %></td>
        <td><%= @timecard.wed_break_hours + (@timecard.wed_break_minutes / 60.0).round(2) %></td>
        <td><%= @timecard.wed_hours %></td>
        <td><%= @timecard.wed_overtime %></td>
      </tr>
      <tr>
        <td><%= @timecard.thu_start.strftime("%A") %><p class="right" style="margin: 0"><%= @timecard.thu_start.strftime("%m/%d") %></p></td>
        <td><%= @timecard.thu_start.strftime("%I:%M %p") %></td>
        <td><%= @timecard.thu_end.strftime("%I:%M %p") %></td>
        <td><%= @timecard.thu_break_hours + (@timecard.thu_break_minutes / 60.0).round(2) %></td>
        <td><%= @timecard.thu_hours %></td>
        <td><%= @timecard.thu_overtime %></td>
      </tr>
      <tr>
        <td><%= @timecard.fri_start.strftime("%A") %><p class="right" style="margin: 0"><%= @timecard.fri_start.strftime("%m/%d") %></p></td>
        <td><%= @timecard.fri_start.strftime("%I:%M %p") %></td>
        <td><%= @timecard.fri_end.strftime("%I:%M %p") %></td>
        <td><%= @timecard.fri_break_hours + (@timecard.fri_break_minutes / 60.0).round(2) %></td>
        <td><%= @timecard.fri_hours %></td>
        <td><%= @timecard.fri_overtime %></td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col s4 center">
        <h5 style="margin-bottom: 0px">Total Time: <%= @timecard.total_hours + @timecard.overtime_hours + @timecard.double_overtime %></h5>
        <p style="margin-top: 0px">(includes overtime hours)</p>
      </div>
      <div class="col s4 center">
        <h5>Sick Hours: <%= @timecard.sick_hours %></h5>
      </div>
      <div class="col s4 center">
        <h5>Overtime Hours: <%= @timecard.overtime_hours %></h5>
      </div>
    </div>
  </div>
</div>
