<%= provide(:title, @project.name) %>

<div class="hide-on-small-and-down" style="padding-top: 32px"></div>
<div class="row">
  <div class="z-depth-2 white col s12 m10 offset-m1 l6 offset-l3" style="position: relative">
    <div style="padding-top: 32px"></div>

    <div class="row">
      <div class="col s12 m8">
        <!--<%= render "shared/grid_helper" %>-->
        <div class="row">
          <img src="https://placem.at/places?h=75&w=75" style="float: left; margin: 0 10px 0 0.75rem">
          <h4 style="margin: 0 0 0 0;"><%= @project.name %></h4>
          <p style="margin: 0;"><%= @project.version_number %></p>
          <!--<div class="col s2 center">-->
            <!--<img src="https://placem.at/places?h=75&w=75">-->
          <!--</div>-->
          <!--<div class="col s9">-->
            <!--<h4 style="margin: 0;"><%= @project.name %></h4>-->
            <!--<p style="margin: 0;"><i><%= @project.version_number %></i></p>-->
          <!--</div>-->
        </div>
      </div>
      <div class="col s12 m4 center">
        <a class="waves-effect waves-light btn disabled">Upload Project</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8 l8">
        <ul class="tabs">
          <li class="tab col s4"><a href="#info">Info</a></li>
          <li class="tab col s4"><a href="#team">Team</a></li>
          <li class="tab col s4"><a href="#settings">Settings</a></li>
        </ul>
      </div>
      <div id="team" class="col s12">
        <!--<%= render "shared/grid_helper" %>-->
        <h5>Testers</h5>
        <table class="striped">
          <thead>
            <tr>
              <th>Email</th>
              <th>Placeholder</th>
              <th>Placeholder</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>temp@temp.com</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>temp2@temp.com</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>temp3@temp.com</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <h5>Developers</h5>
        <table class="striped">
          <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>temp@developer.com</td>
            <td>Joe Shmo</td>
          </tr>
          <tr>
            <td>temp2@developer.com</td>
            <td>Sean Pimentel</td>
          </tr>
          <tr>
            <td>temp3@developer.com</td>
            <td>Stephen Phillips</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="info" class="col s12">
        <h5>Download:</h5>
        <h5>Description:</h5>
        <%= @project.description %>
        <h5>Logs:</h5>
      </div>
      <div id="settings" class="col s12">
        <h5>Edit Project Info</h5>
        <div class="row">
          <div class="col s12 m6 offset-m1 card" style="padding: 8px 16px">
            <%= form_for(@project, url: company_project_path, method: :patch) do |f| %>

              <div class="input-field">
                <%= f.text_field :name, autocomplete: "off" %>
                <%= f.label :name %>
              </div>

              <div class="input-field">
                <%= f.text_area :description, autocomplete: "off", data: {length: "120"}%>
                <%= f.label :description %>
              </div>


              <br>

              <%= f.submit "Save Changes", class: "btn theia_blue", style: "margin-top: 0px;" %>
            <% end %>
          </div>
        </div>
        <h5>Danger Zone</h5>
        <div class="row">
          <div class="col offset-s1">
            <%= link_to "Delete Project", destroy_project_path, class: "btn red accent-4" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>