<%= provide(:title, "Create Org") %>

<div class="hide-on-small-and-down" style="padding-top: 32px"></div>
<div class="row">
  <div class="z-depth-2 white col s12 m8 offset-m2 l4 offset-l4" style="position: relative">
    <div class="center">
      <h2>Create Organization</h2>
    </div>
    <div class="row" style="padding-bottom: 16px">
      <div class="col s12 m8 offset-m2">
        <%= form_for(@organization, url: organizations_path) do |f| %>

          <div class="input-field">
            <%= f.text_field :name, class: "form_focus" %>
            <%= f.label :name, "Organization Name" %>
          </div>

          <%= hidden_field_tag :owner_id, current_user.id %>

          <br>
          <%= f.submit "Create Company", class: "btn theia_blue", style: "margin-top: 16px;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>