<%= provide(:title, "Invites Sent!") %>

<div class="hide-on-small-and-down" style="padding-top: 32px"></div>
<div class="row">
  <div class="z-depth-2 white col s12 m10 offset-m1 l6 offset-l3" style="position: relative">
    <div class="center">
      <h4>Invites Sent</h4>
    </div>

    <ul class="collection">
      <% @successful_invites.each do |user| %>
        <li class="collection-item avatar">
          <img src="http://placekitten.com/g/50/50" alt="" class="circle">
          <span class="title">Successfully invited</span>
          <p><%= user.email %>
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons green_icon">check</i></a>
        </li>
      <% end %>
    </ul>

    <ul class="collection">
      <% @unsuccessful_invites.each do |user| %>
        <li class="collection-item avatar">
          <img src="http://placekitten.com/g/50/50" alt="" class="circle">
          <span class="title">Failed to invite</span>
          <p><%= user.email %> <br>
            <% user.errors.full_messages.each do |error| %>
              <%= error %>
              <br>
            <% end %>
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons red_icon">clear</i></a>
        </li>
      <% end %>
    </ul>

    <%= link_to @current_user, class: "theia_text_blue", style: "font-size: large; margin-bottom: 16px" do %>
      <i class="material-icons" style="position: relative; top: 6px">arrow_back</i>Back to organization
    <% end %>
  </div>
</div>