<%= provide(:title, @organization.name) %>

<div class="hide-on-small-and-down" style="padding-top: 32px"></div>
<div class="hide-on-small-and-down" style="padding-top: 32px"></div>
<div class="row">
  <div class="z-depth-2 white col s12 m10 offset-m1 l6 offset-l3" style="position: relative">


    <div class="row">
      <div class="col s12">
        <!--<%= render "shared/grid_helper" %>-->
        <h4>Current Members:</h4>
        <ul class="collection">
          <% @employees.each do |user| %>
            <li class="collection-item avatar">
              <img src="http://placekitten.com/g/50/50" alt="" class="circle">
              <span class="title"></span>
              <p><%= User.find(user.user_id).email %>
              </p>
            </li>
          <% end %>
        </ul>
        <div class="divider"></div>

        <h4>Invite New Members</h4>
        <p class="flow-text">Emails placed here will be automatically sent an email inviting them to join this organization</p>
        <%= form_tag organization_send_invites_path(@organization) do %>
          <div class="row">
            <div class="col s6 center">
              <a href="javascript:" id="add_new_email" class="hide-on-small-and-down"><i class="material-icons" style="position: relative; top: 6px; padding-bottom: 4px">add</i>Add Invite</a>
            </div>
            <div class="col s6">
              <%= submit_tag "Send Invites", class: "btn-small theia_blue right hide-on-small-and-down"%>
            </div>
            <br>
            <div id="emails_form">
            </div>
            <div class="col s12 center">
              <%= submit_tag "Send Invites", class: "btn-large theia_blue hide-on-med-and-up"%>
              <div class="fixed-action-btn">
                <a href="javascript:" id="add_new_email_mobile" class="btn-floating btn-large waves-effect waves-light red hide-on-med-and-up"><i class="material-icons">add</i></a>
              </div>
            </div>
            <div class="col s2 offset-s2">
            </div>
          </div>
          <br>
        <% end %>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>

<div class="hide" id="new_emails_form">
  <div class="input-field col s12 m8 offset-m2 l6">
    <%= text_field_tag 'emails[]', nil, class:"email_input_field" %>
    <%= label_tag 'Email' %>
  </div>
</div>

<script>
    $(document).ready(function(){
        $("#add_new_email").click(function(){
            add_field();
            update_form();
        });

        $("#add_new_email_mobile").click(function(){
            $("#emails_form").append($("#new_emails_form").html());
        });

        function add_field(){
            $("#emails_form").append($("#new_emails_form").html());
        }

        function update_form(){
            $(".email_input_field:last")
                .on('keydown', function(e){
                    if( e.which === 9 ){
                        alert("hello");
                    }
                });
        }
    });
</script>