<%= provide(:title, @organization.name) %>

<div class="hide-on-small-and-down" style="padding-top: 32px"></div>
<div class="row">
  <div class="z-depth-2 white col s12 m10 offset-m1 l6 offset-l3" style="position: relative">
    <div class="row">
      <div class="col s12">
        <h4>Invite New Members:</h4>
        <p class="flow-text">Emails placed here will be automatically sent an email inviting them to join this
          organization</p>
        <%= form_tag organization_send_invites_path(@organization) do %>
          <div class="row">
            <div id="invite_progress_bar" class="progress hiddendiv">
              <div class="indeterminate"></div>
            </div>
            <div class="col s12 center">
              <a href="javascript:" id="add_new_email" class="hide-on-small-and-down"><i class="material-icons" style="position: relative; top: 6px; padding-bottom: 4px">add</i>Add
                Invite</a>
            </div>
            <br>
            <div id="emails_form">
            </div>
            <div class="col s12 center">
              <%= submit_tag "Send Invites", class: "btn-large theia_blue hide-on-med-and-up send_invites" %>
              <div class="fixed-action-btn">
                <a href="javascript:" id="add_new_email_mobile" class="btn-floating btn-large waves-effect waves-light red hide-on-med-and-up"><i class="material-icons">add</i></a>
              </div>
            </div>
          </div>
          <%= submit_tag "Send Invites", class: "btn-small theia_blue right hide-on-small-and-down send_invites" %>
          <br>
        <% end %>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="z-depth-2 white col s12 m10 offset-m1 l6 offset-l3" style="position: relative">
    <div class="row">
      <div class="col s12">
        <h4>Current Members:</h4>
        <% if @employees.count == 0 %>
          <p>No users yet</p>
        <% else %>
        <ul class="collection">
          <% @employees.each do |user| %>
            <li class="collection-item">
              <%= user.user.email %> -
              <% if user.user.name %>
                Active
              <% else %>
                Pending
              <% end %>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="z-depth-2 white col s12 m10 offset-m1 l6 offset-l3" style="position: relative">
    <div class="row">
      <div class="col s12">
        <h4>Future Settings:</h4>
        <ul>
          <li>Invite co-managers</li>
          <li>Remove users</li>
          <li>Delete Organization</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="hide" id="new_emails_form">
  <div class="input-field col s12 m6 offset-m3 l4 animated fadeIn">
    <%= text_field_tag 'emails[]', nil, class:"email_input_field", autocomplete: "off" %>
    <%= label_tag 'Email' %>
    <i class="material-icons clear_email right">clear</i>
  </div>
</div>

<script>
    $(document).ready(function(){

        $(".send_invites").click(function(){
            $("#invite_progress_bar").removeClass("hiddendiv");
        });

        function key_press_check(e) {
            if (e.keyCode == 9 && !e.shiftKey){
                add_field();
                update_form();
            }
        }

        $("#add_new_email").click(function(){
            add_field();
            update_form();
            $("#emails_form .input-field:last input").focus();
        });

        $("#add_new_email_mobile").click(function(){
            add_field();
            update_form();
            $("#emails_form .input-field:last input").focus();
        });

        function add_field(){
            $("#emails_form").append($("#new_emails_form").html());
        }

        function update_form(){
            $("#emails_form .input-field:nth-last-child(2)")
                .unbind('keydown', key_press_check);
            $("#emails_form .input-field:last")
                .bind('keydown', key_press_check);
            $('.clear_email').click(function () {
                console.log("clicked");
                $(this).parent().remove();
            });
        }
    });
</script>