<%= provide(:title, @organization.name) %>

<div class="hide-on-small-and-down" style="padding-top: 32px"></div>


<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l1">
    <div class="card theia_air">
      <div class="card-content">
        <span class="card-title">Invite New Members:</span>
        <div id="invite_progress_bar" class="progress hiddendiv">
          <div class="indeterminate"></div>
        </div>
        <p>Emails placed here will be automatically sent an email inviting them to join this
          organization</p>
        <%= form_tag organization_send_invites_path(@organization) do %>
          <div class="row">
            <div class="col s12 center">
              <a href="javascript:" id="add_new_email" class="hide-on-small-and-down"><i class="material-icons" style="position: relative; top: 6px; padding-bottom: 4px">add</i>Add
                Invite</a>
            </div>
            <br>
            <div id="emails_form">
            </div>
            <div class="col s12 center">
              <div class="fixed-action-btn">
                <a href="javascript:" id="add_new_email_mobile" class="btn-floating btn-large waves-effect waves-light red hide-on-med-and-up"><i class="material-icons">add</i></a>
              </div>
            </div>
          </div>
      </div>
      <div class="card-action">
        <%= submit_tag "Send Invites", class: "btn theia_blue hide-on-med-and-up send_invites" %>
        <%= submit_tag "Send Invites", class: "btn theia_blue hide-on-small-and-down send_invites" %>
      </div>
    </div>
        <% end %>
  </div>

  <div class="col s12 m8 offset-m2 l4">
    <div class="card theia_air">
      <div class="card-content">
        <span class="card-title">Add Co-Manager</span>
        <div id="invite_comanager_progress_bar" class="progress hiddendiv">
          <div class="indeterminate"></div>
        </div>
        <p>This will give someone the ability to manage the organization just like you!</p>
        <div class="input-field">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="card-action">
        <a id="invite_comanager" class="btn waves-effect waves-light theia_blue">Invite Co-Manger</a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m8 offset-m2 l4 offset-l1">
    <div class="card theia_air">
      <div class="card-content">
        <span class="card-title">Co Managers:</span>
        <% if @comanagers.count == 0 %>
          <p>No users yet</p>
        <% else %>
          <ul class="collection">
            <% @comanagers.each do |user| %>
              <li class="collection-item">
                <%= user.user.email %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <span class="card-title">Current Members:</span>
        <% if @employees.count == 0 %>
          <p>No users yet</p>
        <% else %>
          <ul class="collection">
            <% @employees.each do |user| %>
              <li class="collection-item">
                <%= user.user.email %>
                <% if user.user.disabled %>
                  - Disabled
                <% elsif !user.user.name %>
                  - Pending
                <% end %>
                <%= link_to "View", user_timecard_collection_path(user.user), class: "secondary-content user_actions theia_text_blue" %>
                <a class="theia_text_blue secondary-content user_actions delete_user" user_name="<%= user.user.name %>" user_id="<%= user.user.id %>">Delete</a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col s12 m8 offset-m2 l4 offset-l2">
    <div class="card theia_air">
      <div class="card-content">
        <span class="card-title">Future Features:</span>
        <ul>
          <li><s>Invite co-managers</s></li>
          <li><s>Remove users</s></li>
          <li>Graphs for weekly data visualization</li>
          <li>Delete Organization</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="hide" id="new_emails_form">
  <div class="input-field col s12 m6 l4 animated fadeIn">
    <%= text_field_tag 'emails[]', nil, class:"email_input_field", autocomplete: "off" %>
    <%= label_tag 'Email' %>
    <i class="material-icons clear_email right">clear</i>
  </div>
</div>

<div id="delete_user_modal" class="modal">
  <div class="modal-content">
    <h4>Delete user?</h4>
    <p>Are you sure you want to delete <span id="delete_user_user_name"></span></p>
    <p>A regular delete will allow their timecards to persist but will terminate their access to the organization.</p>
    <p><b>A hard delete will completely remove user from the organization including timecards.</b></p>
  </div>
  <div class="modal-footer">
    <a id="delete_user_hard_confirm_delete" class="waves-effect red btn-flat">Hard Delete</a>
    <a id="delete_user_confirm_delete" class="waves-effect waves-red btn-flat">Delete</a>
  </div>
</div>

<script>

    var delete_modal_options = {};
    var delete_modal = document.querySelector('#delete_user_modal');
    var delete_modal_instance = M.Modal.init(delete_modal, delete_modal_options);

    $(document).ready(function(){

        function key_press_check(e) {
            if (e.keyCode == 9 && !e.shiftKey){
                add_field();
                update_form();
            }
        }

        function add_field() {
            $("#emails_form").append($("#new_emails_form").html());
        }

        function update_form() {
            $("#emails_form .input-field:nth-last-child(2)")
                .unbind('keydown', key_press_check);
            $("#emails_form .input-field:last")
                .bind('keydown', key_press_check);
            $('.clear_email').click(function () {
                console.log("clicked");
                $(this).parent().remove();
            });
        }

        $(".send_invites").click(function () {
            $("#invite_progress_bar").removeClass("hiddendiv");
        });

        $("#add_new_email").click(function(){
            add_field();
            update_form();
            $("#emails_form .input-field:last input").focus();
        });

        $("#add_new_email_mobile").click(function(){
            add_field();
            update_form();
            $("#emails_form .input-field:last input").focus();
        });

        $("#invite_comanager").click(function(){
            $("#invite_comanager_progress_bar").removeClass("hiddendiv");
            $.ajax({
                type: "POST"
                , url: "<%= organization_invite_comanager_path(@organization) %>"
                , data: {email: $("#email").val()}
                , success: function(json){
                    window.location.reload();
                }
            });
        });

        $(".delete_user").click(function(){
            $("#delete_user_user_name").html($(this).attr("user_name") + "?");
            $("#delete_user_confirm_delete").attr("user_id", $(this).attr("user_id"));
            $("#delete_user_hard_confirm_delete").attr("user_id", $(this).attr("user_id"));
            delete_modal_instance.open();
        });

        $("#delete_user_confirm_delete").click(function(){
            var user_id = $(this).attr("user_id");
            console.log(user_id);
            $.ajax({
                type: "DELETE"
                , url: "/users/" + user_id
                , success: function(json){
                    window.location.reload();
                }
            });
        });

        $("#delete_user_hard_confirm_delete").click(function(){
            var user_id = $(this).attr("user_id");
            console.log(user_id);
            $.ajax({
                type: "DELETE"
                , url: "/users/" + user_id + '/hard_delete'
                , success: function(){
                    window.location.reload();
                }
            });
        });

    });
</script>