<%= provide(:title, params[:end_date]) %>

<div class="" style="padding-top: 32px"></div>

<div class="row">
  <div class="z-depth-2 white col s12 m8 offset-m2 l6 offset-l3" style="padding-bottom: 16px">
    <h4>Viewing week of: <%= DateTime.parse(params[:end_date]).strftime("%m/%d")%></h4>

    <h6>Week Total Hours: <span id="total_week_hours"></span></h6>
    <h6>Week Total Overtime: <span id="total_week_overtime"></span></h6>

    <div class="divider"></div>

    <h6>Users with locked timecards:</h6>
    <% @week_timecards.each do |timecard| %>
      <% if timecard.get_owner.name and timecard.locked %>
        <%= timecard.get_owner.name %>
        <br>
      <% end %>
    <% end %>

    <h6>Users who have yet to lock timecards:</h6>
    <% @week_timecards.each do |timecard| %>
      <% if timecard.get_owner.name and !timecard.locked%>
        <%= timecard.get_owner.name %>
        <br>
      <% end %>
    <% end %>

  </div>
</div>

<% @week_timecards.each do |timecard| %>
<div class="row">
  <div class="z-depth-2 white col s12 m10 offset-m1 l8 offset-l2" style="position: relative">
    <div class="row" style="margin-bottom: 0;">
      <div class="col s6">
        <% if timecard.get_owner.name %>
          <h5><%= timecard.get_owner.name %></h5>
        <% else %>
          <h5>Pending</h5>
        <% end %>
        <p><%= timecard.get_owner.email %></p>
      </div>
      <div class="col s6 right">
        <div class="row">
          <div class="col s12">
            <p class="right">
              Due at: <%= timecard.end_date.strftime("%m/%d %I:%M %p") %>
              <i id="timecard_lock" class="material-icons small left"><%= (timecard.locked) ? "lock" : "lock_open" %></i>
            </p>
          </div>
          <div class="col s12">
            <%= link_to "Manual Edit", edit_organization_timecard_path(organization_id: @organization.id, id: timecard.id), class: "right" %>
          </div>
        </div>
      </div>
    </div>
    <div class="divider" style="margin-bottom: 16px"></div>
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Break Hours</th>
        <th>Hours Worked</th>
        <th>Overtime</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= timecard.sat_start.strftime("%A") %>
          <p class="right" style="margin: 0"><%= timecard.sat_start.strftime("%m/%d") %></p></td>
        <% if timecard.sat_hours != 0 %>
        <td><%= timecard.sat_start.strftime("%I:%M %p") %></td>
        <td><%= timecard.sat_end.strftime("%I:%M %p") %></td>
        <td><%= (timecard.sat_break_hours + (timecard.sat_break_minutes / 60.0)).round(2) %></td>
        <td><%= timecard.sat_hours %></td>
        <td><%= timecard.sat_overtime %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= timecard.sun_start.strftime("%A") %>
          <p class="right" style="margin: 0"><%= timecard.sun_start.strftime("%m/%d") %></p></td>
        <% if timecard.sun_hours != 0 %>
        <td><%= timecard.sun_start.strftime("%I:%M %p") %></td>
        <td><%= timecard.sun_end.strftime("%I:%M %p") %></td>
        <td><%= (timecard.sun_break_hours + (timecard.sun_break_minutes / 60.0)).round(2) %></td>
        <td><%= timecard.sun_hours %></td>
        <td><%= timecard.sun_overtime %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= timecard.mon_start.strftime("%A") %>
          <p class="right" style="margin: 0"><%= timecard.mon_start.strftime("%m/%d") %></p></td>
        <% if timecard.mon_hours != 0 %>
        <td><%= timecard.mon_start.strftime("%I:%M %p") %></td>
        <td><%= timecard.mon_end.strftime("%I:%M %p") %></td>
        <td><%= (timecard.mon_break_hours + (timecard.mon_break_minutes / 60.0)).round(2) %></td>
        <td><%= timecard.mon_hours %></td>
        <td><%= timecard.mon_overtime %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= timecard.tue_start.strftime("%A") %>
          <p class="right" style="margin: 0"><%= timecard.tue_start.strftime("%m/%d") %></p></td>
        <% if timecard.tue_hours != 0 %>
        <td><%= timecard.tue_start.strftime("%I:%M %p") %></td>
        <td><%= timecard.tue_end.strftime("%I:%M %p") %></td>
        <td><%= (timecard.tue_break_hours + (timecard.tue_break_minutes / 60.0)).round(2) %></td>
        <td><%= timecard.tue_hours %></td>
        <td><%= timecard.tue_overtime %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= timecard.wed_start.strftime("%A") %>
          <p class="right" style="margin: 0"><%= timecard.wed_start.strftime("%m/%d") %></p></td>
        <% if timecard.wed_hours != 0 %>
        <td><%= timecard.wed_start.strftime("%I:%M %p") %></td>
        <td><%= timecard.wed_end.strftime("%I:%M %p") %></td>
        <td><%= (timecard.wed_break_hours + (timecard.wed_break_minutes / 60.0)).round(2) %></td>
        <td><%= timecard.wed_hours %></td>
        <td><%= timecard.wed_overtime %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= timecard.thu_start.strftime("%A") %>
          <p class="right" style="margin: 0"><%= timecard.thu_start.strftime("%m/%d") %></p></td>
        <% if timecard.thu_hours != 0 %>
        <td><%= timecard.thu_start.strftime("%I:%M %p") %></td>
        <td><%= timecard.thu_end.strftime("%I:%M %p") %></td>
        <td><%= (timecard.thu_break_hours + (timecard.thu_break_minutes / 60.0)).round(2) %></td>
        <td><%= timecard.thu_hours %></td>
        <td><%= timecard.thu_overtime %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= timecard.fri_start.strftime("%A") %>
          <p class="right" style="margin: 0"><%= timecard.fri_start.strftime("%m/%d") %></p></td>
        <% if timecard.fri_hours != 0 %>
        <td><%= timecard.fri_start.strftime("%I:%M %p") %></td>
        <td><%= timecard.fri_end.strftime("%I:%M %p") %></td>
        <td><%= (timecard.fri_break_hours + (timecard.fri_break_minutes / 60.0)).round(2) %></td>
        <td><%= timecard.fri_hours %></td>
        <td><%= timecard.fri_overtime %></td>
        <% end %>
      </tr>
      </tbody>
    </table>
    <div class="row" style="margin-bottom: 0">
      <div class="col s4 center">
        <h5 style="margin-bottom: 0px">Total Time: <%= timecard.total_hours + timecard.sick_hours %></h5>
        <p style="margin-top: 0px">(includes sick hours)</p>
      </div>
      <div class="col s4 center">
        <h5>Overtime Hours: <%= timecard.overtime_hours %></h5>
      </div>
      <div class="col s4 center">
        <h5>Sick Hours: <%= timecard.sick_hours %></h5>
      </div>
    </div>
  </div>
</div>
<% @total_week_hours += timecard.total_hours %>
<% @total_week_overtime += timecard.overtime_hours %>
<% end %>

<script>
  $(function(){
      $('#total_week_hours').html("<%= @total_week_hours %>");
      $('#total_week_overtime').html("<%= @total_week_overtime%>");
  });
</script>