<% if logged_in? %>
  <ul id="account_dropdown" class="dropdown-content">
    <li><%= link_to "Profile", edit_user_path(@current_user),   class: "theia_text_blue" %></li>
    <li><%= link_to "Logout",   logout_path,  method: :delete,  class: "theia_text_blue" %></li>
  </ul>
<% end %>
<nav class="theia_air">
  <div class="nav-wrapper container">
    <% if logged_in? %>
      <a data-target="slide-out" class="sidenav-trigger hide-on-med-and-up" id="side_nav_trigger"><i class="material-icons">menu</i></a>
      <%= link_to(image_tag("icon_only_100.png", size: 64), @current_user, class: "hide-on-small-and-down") %>
      <%= link_to(image_tag("icon_only_100.png", size: 54), @current_user, class: "hide-on-med-and-up right") %>
    <% else %>
      <%= link_to(image_tag("icon_only_100.png", size: 64), login_path, class: "hide-on-small-and-down") %>
      <%= link_to(image_tag("icon_only_100.png", size: 54), login_path, class: "hide-on-med-and-up right") %>
    <% end %>
    <ul class="right">
      <% if logged_in? %>
        <% if is_company_user? %>
          <li><%= link_to "Timecards", user_timecard_collection_path(@current_user), class: "theia_text_blue hide-on-small-and-down" %></li>
        <% end %>
        <li><a class="dropdown-trigger theia_text_blue hide-on-small-and-down" href="" data-target="account_dropdown"><%= @current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
      <% end %>
    </ul>
    <% if logged_in? %>
      <ul id="slide-out" class="sidenav">
        <li>
          <div class="user-view">
            <div class="background theia_blue"></div>
            <a href=""><%= image_tag(gravatar_for(@current_user, 100), alt: @current_user.name, class: "circle")%></a>
            <a href=""><span class="white-text name"><%= @current_user.name %></span></a>
            <a href=""><span class="white-text email"><%= @current_user.email %></span></a>
          </div>
        </li>
        <% if is_company_user? %>
          <li><%= link_to "Timecards", user_timecard_collection_path(@current_user), class: "theia_text_blue" %></li>
        <% end %>
        <li><%= link_to "Profile", edit_user_path(@current_user), class: "theia_text_blue" %></li>
        <li><%= link_to "Logout", logout_path, method: :delete, class: "theia_text_blue" %></li>
<!--        <li><a href=""><i class="material-icons">cloud</i>First Link With Icon</a></li>-->
<!--        <li><a href="">Second Link</a></li>-->
<!--        <li><div class="divider"></div></li>-->
<!--        <li><a class="subheader">Subheader</a></li>-->
<!--        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
      </ul>
    <% end %>
  </div>
</nav>